

.archive-article-display {
    grid-column: 4/10;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: .5em
}

.archive-card-main{
    grid-column: 1/ span 2;
    grid-row: span 2 ;
    background-color: #F2F2F2;
    /* border-radius: 10px; */
    overflow: hidden;
}

.archive-card-summary {
    padding-inline: .5rem;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300;
    
}

.archive-card{ 
    background-color: #F2F2F2;
    /* border-radius: 10px; */
    overflow: hidden;
}

.archive-card-image-container{
    width: 100%;
}

.archive-card-image {
    width: 100%;
}

.archive-card-content-wrapper {
    margin-block: 1rem;
}

.archive-card-title {
    font-size: 1.60rem;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    padding-inline: .5rem;
    margin: 0%;
    text-decoration: inherit;
}

.archive-card-author {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: small;
    font-weight: 100;
    padding-inline: .5rem;
}
/*dark mode active */



/*link related color and decoration */
a {
    text-decoration: none; 
    color: inherit;
}

.archive-card-main > a:visited{
   color: inherit;
}

.archive-card > a:visited{
    color: inherit;
 }

 @media only screen and (max-width: 960px) {
    .archive-article-display{
        grid-column: 2/12;
    }
 }

 @media only screen and (max-width: 780px) {
   .archive-article-display{
    grid-column: 1/13;
   }
}
