
/* Footer section */

.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background-color: #454444;
}
.footer-icons > ul{
    padding: 0%;
    display: flex;
    flex-direction: row;
}
.icon-list > li{
    width: 2.5rem;
    list-style: none ;
}
.icon-list > li > img {
    width: 2rem;
}
.footer-summary {
    font-size: small;
    font-family: 'Pavanam', sans-serif;
    color: azure;
}


@media only screen and (max-width: 500px) { 
    #darkFooter {
        border-top: solid 1px #f2f2f2 ;
        background-color: #454444;
    }
    #lightFooter {
        border-top: solid 1px grey ;
        background-color: #f2f2f2;
    }
    .footer-summary {
        color: black;
    }
}