/*Section Title */
.section-title{
    grid-column: 1/4;
    margin-inline: 10px;
    font-family: 'Fira Sans Condensed', sans-serif;
    position: relative;
    
}
.section-title:after{
    content: '';
    color: rgb(203, 103, 103);
    width: 15%;
    position: absolute;
    left: 0;
    bottom: -10px;
    border-width: 0 0 2px;
    border-style: solid;
}

/*Dark Mode switch*/
.switch-container {
    grid-column: 9/10;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.switch-container > img {
    width: 2.5rem;
}

/*Card Article internals*/

.card-article {
    padding: 0%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    width: 100%;
    overflow: hidden;
    height: inherit;
    box-shadow:  0px 5px 10px -5px grey;
    text-decoration: none;
}
.card-date-mobile {
    display: none;
}


.card-date {
    border-radius: 5px;
    padding: 5px;
    margin: 20px;
    font-size: 1rem;
    overflow: hidden;
    position: absolute;
    width: fit-content;
}

.card-description{
    width: 90%;
    padding-inline: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.card-title {
    text-align: center;
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}

.card-author {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 100;
}

.card-summary {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300;
    color: inherit;
    margin-bottom: 0%;
    font-size: large;
    line-height: 160%;
    text-align: center;
}

/* hero news 2 cards*/
.news-section{
    grid-column: 3/11;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    gap: 1em;
}

.latest-panel-one{
    grid-column: 1/4;
}

.latest-panel-two{
    grid-column: 4/7;
}
 
.latest-panel-three{
    grid-column: 7/10;
}

.panel-card, .panel-card-odd  {
    border-radius: 10px;
    padding: 1rem;
    font-size: large;
}

 .panel-card-odd {
    color: #F2F2F2;
} 

.panel-author, .panel-date-section {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 100;
}

.panel-title {
    font-family:'Playfair Display', serif;
    font-weight: 400;
  
}
.panel-title > a {
    text-decoration: none;
    color: #454444 ;
}

/*  Dark Mode Active  */
#panel-card-dark {
    background-color: #454444 ;
    color: #F2F2F2;
    
}
#panel-card-dark-odd{
    color: #F2F2F2;
}

#panel-card-dark-odd > .panel-title > a {
    color: #F2F2F2;
}
#panel-card-dark > .panel-title > a {
    color: #F2F2F2;
}

#panel-card-light {
    border-radius: 10px;
    background-color: white;
    color: #454444 ;
}
#panel-card-light > .panel-title > a {
    color: #454444; ;
}

/*Tech card stack of 3 with slider*/
.technology-section{
    grid-column: 3/11;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 1em
}

.tech-card-one, .tech-card-two, .tech-card-three {
    border-radius: 10px;
    height: 45rem;
    grid-column: 1/5;
    overflow: hidden;
    
}
.tech-card-two{
    grid-column: 5/9;
}
.tech-card-three{   
    grid-column: 9/13;
}
 

/* Social media Set Up page section */
.set-up-section{
    grid-column: 3/11;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    gap: 1em
}
.set-slide-one, .set-slide-two {
    grid-column: 1/5;
    overflow: hidden;
    border-radius: 10px;
    height: 80vh;
}

/* setting the internal image height, the width might over lap but its hidden*/
.set-slide-one > img{
    height: 80vh;
}
.set-slide-two > img{
    height: 80vh;
}

.set-slide-two{
    grid-column: 5/9;
}

.arrowLeft-box{
    grid-column: 4/5;
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}
.arrowRight-box{
    grid-column: 5/6;
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrowLeft {
    transform: rotate(-0.5turn);
}

.arrowLeft, .arrowRight {
    padding-top: 2px;
    height: 3rem;
}


/* 
 fade in and fade out system was removed
.setUp-slider{
    width: 33rem;
    animation: fadeIn 8s infinite;
    -webkit-animation: fadeIn 8s infinite;
    -moz-animation: fadeIn 8s infinite;
    -o-animation: fadeIn 8s infinite;
    -ms-animation: fadeIn 8s infinite;
}

@keyframes fadeIn {
    100% {opacity:1;}
    0% {opacity:0;}
}

@-moz-keyframes fadeIn {
    100% {opacity:1;}
    0% {opacity:0;}
}

@-webkit-keyframes fadeIn {
    100% {opacity:1;}
    0% {opacity:0;}
}

@-o-keyframes fadeIn {
    100% {opacity:1;}
    0% {opacity:0;}
}

@-ms-keyframes fadeIn {
    100% {opacity:1;}
    0% {opacity:0;}
} */

/*Hobby card section of 3*/

.hobby-section{
    grid-column: 3/11;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 1em
}
.hobby-card-one, .hobby-card-two, .hobby-card-three {   
    border-radius: 10px;
    height: 45rem;
    grid-column: 1/5;
    overflow: hidden;
}
.hobby-card-two{
    grid-column: 5/9;
}
.hobby-card-three{
    grid-column: 9/13;
}

/*Food section of 3*/

.food-section {
    grid-column: 3/11;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 1em
}
.food-card-one, .food-card-two, .food-card-three {
    border-radius: 10px;
    height: 45rem;
    grid-column: 1/5;
    overflow: hidden;
}
.food-card-two{
    grid-column: 5/9;
}
.food-card-three{
    grid-column: 9/13;
}




#main-light {
    background-color: #F2F2F2;
}

#main-dark {
    background-color: #262626;;
}

#card-light {
    color: black;
    background-color:white;
}

#card-dark {
    color: #F2F2F2;
    background-color:#454444;
    box-shadow: none;
}

#date-light {
    color: black;
    background-color: #F2F2F2;
}
#date-dark {
    color: #F2F2F2;
    background-color: #454444;

}
#section-title-light{
    color: #262626;
}

#section-title-dark{
    color: white;
}
@media only screen and (max-width: 1680px) {
 

    .background-hero {
        height: 45vh;
    }
    .card-article {
        display: flex;
        flex-direction: column;
    }

    .setUp-slider{
        height: 50rem;
    }

    .set-slide-one > img{
        width: 60vh;
    }
    .set-slide-two > img{
        width: 60vh;
    }
}

@media only screen and (max-width: 960px) {
    main {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 1em;
    }
    .card-article {
        display: flex;
        flex-direction: row;
    }

    /* Latest panel  */
    .switch-container {
        grid-column: 8/9;
    }
    .news-section{
        grid-column: 2/12;
        display: grid;
        grid-template-columns: repeat(8,1fr);
    }
    .latest-panel-one{
        grid-column: 1/5;
    }
    
    .latest-panel-two{
        grid-column: 5/9;
    }
    .latest-panel-three {
        display: none;
    }
    /* technology cards */
    .technology-section{
        grid-column: 2/12;
    }
    .tech-card-one, .tech-card-two, .tech-card-three {
        border-radius: 10px;
        height: 14rem;
        grid-column: 1/13;
        overflow: hidden;
    }
    /* Community set up */
    .set-up-section {
        grid-column: 2/12;
    }
    .set-slide-one {
        grid-column: 1/9;
        
        justify-content: center;
    }

    .set-slide-two {
        display: none;
    }
    /* Hobby Cards */
    .hobby-section{
    grid-column: 2/12;
    }
    .hobby-card-one, .hobby-card-two, .hobby-card-three {   
        border-radius: 10px;
        height: 14rem;
        grid-column: 1/13;
        overflow: hidden;
    }
   
    /* Food Cards */
    .food-section{
        grid-column: 2/12;
    }
    .food-card-one, .food-card-two, .food-card-three {
        border-radius: 10px;
        height: 14rem;
        grid-column: 1/13;
        overflow: hidden;
    }


    /* article card interior   */
    .card-description {
        margin: 0%;
    }
   .card-title {
        margin-top: 0%;
        font-size: 1.75rem;
   }

   .card-author {
        margin: 0% ;
        font-size: .9rem;
   }
   .card-summary {
     font-size: .9rem;
   }
}


@media only screen and (max-width: 830px) {
    main {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 1em;
    }
    .section-title:after{
        width: 35%;
    }
    .news-section, .technology-section, .set-up-section, .hobby-section, .food-section{
        grid-column: 2/12;
    }


    /* technology cards */
    .tech-card-one, .tech-card-two, .tech-card-three,
    .hobby-card-one, .hobby-card-two, .hobby-card-three,
    .food-card-one, .food-card-two, .food-card-three {
        height: 11rem;
    }
    
    .card-summary{
        display: none ;
    }
    .set-up-section > img  {
        width: 100%;
    }
    
    
}


@media only screen and (max-width: 500px) {
    /* hidden  */
    .news-section{
        display: none;
    }
    .section-title{
        display: none;
    }
    .set-up-section {
        display: none;
    }
    .card-date {
        display: none;
    }
    /* changing background colors (darkMode) */
    /* #card-dark {
        color: #F2F2F2;
        background-color:rgba(255, 0, 0, 0);
        box-shadow: none;
    }
    #card-light {
        color: black;
        background-color:#F2F2F2;
    }
     */
    /* mobile view card layout */
        .card-article {
            flex-direction: column;
            border-radius: 0px ;
            
        }
        .card-description {
            width: 99%;
            padding: 0%;
        }
        
        .mobile-layout-title-date { 
            margin-block-start: .25rem;
            margin-block-end: 1rem;
            width: inherit;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;
        }
        .card-title {
            font-size: 1.25rem;
            margin: 0%;
        }
        .card-date-mobile {
            display: contents;
            font-size: 12px;
        }
        .card-author {
            display: none;
        }
        .card-summary {
            display: contents;
            color: lightgrey;
            font-size: 14x;
        }
    /* technoology cards */
    .technology-section{
        grid-column: 1/13;
    }

        .tech-card-one > .card-article > .card-description {
            margin-bottom: 1.5rem;
        }
        .tech-card-one{
            border-bottom: 1px white solid ;
        }

    .tech-card-one, .tech-card-two, .tech-card-three{
        height: auto;
        border-radius: 0%;
    }

    /* removing home card background color */
        .tech-card-one  > #card-dark {
            background-color: rgba(255, 0, 0, 0);
        }
        .tech-card-two  > #card-dark {
            background-color: rgba(255, 0, 0, 0);
        }
        .tech-card-three  > #card-dark {
            background-color: rgba(255, 0, 0, 0);
        }

        .tech-card-one  >  #card-light {
            color: black;
            background-color:#F2F2F2;
        }
        .tech-card-two  >  #card-light {
            color: black;
            background-color:#F2F2F2;
        }
        .tech-card-three  > #card-light {
            color: black;
            background-color:#F2F2F2;
        }
       
     
        /* removing card two and three's image */
        .tech-card-two > a > .card-image {
            display: none;
        }
        .tech-card-three > a > .card-image {
            display: none;
        }
    
    /* hobby section  */

    .hobby-section {
        grid-column: 1/13;
    }

        .hobby-card-one > .card-article > .card-description {
            margin-bottom: 1.25rem;
        }
        .hobby-card-one{
            border-bottom: 1px white solid ;
        }

    .hobby-card-one, .hobby-card-two, .hobby-card-three{
        height: auto;
        border-radius: 0%;
    }

    /* removing card background color */
        .hobby-card-one  > #card-dark {
            background-color: rgba(255, 0, 0, 0);
        }
        .hobby-card-two  > #card-dark {
            background-color: rgba(255, 0, 0, 0);
        }
        .hobby-card-three  > #card-dark {
            background-color: rgba(255, 0, 0, 0);
        } 

        .hobby-card-one  >  #card-light {
            color: black;
            background-color:#F2F2F2;
        }
        .hobby-card-two  > #card-light {
            color: black;
            background-color:#F2F2F2;
        }
        .hobby-card-three >  #card-light {
            color: black;
            background-color:#F2F2F2;
        }
    
    /* removing two and three's image */
    .hobby-card-two > a > .card-image {
        display: none;
    }
    .hobby-card-three > a > .card-image {
        display: none;
    }
    /* food section  */

    .food-section {
        grid-column: 1/13;
    }

    .food-card-one > .card-article > .card-description {
        margin-bottom: 1.25rem;
    }
    .food-card-one{
        border-bottom: 1px white solid ;
    }

    .food-card-one, .food-card-two, .food-card-three{
        height: auto;
        border-radius: 0%;
    }
    /* removing card background color */
         .food-card-one  > #card-dark {
            background-color: rgba(255, 0, 0, 0);
        }
        .food-card-two  > #card-dark {
            background-color: rgba(255, 0, 0, 0);
        }
        .food-card-three  > #card-dark {
            background-color: rgba(255, 0, 0, 0);
        }

        .food-card-one  > #card-light {
            color: black;
            background-color:#F2F2F2;
        }
        .food-card-two  > #card-light {
            color: black;
            background-color:#F2F2F2;
        }
        .food-card-three  > #card-light {
            color: black;
            background-color:#F2F2F2;
        }

        /* removing two and three's image */
        .food-card-two > a > .card-image {
            display: none;
        }
        .food-card-three > a > .card-image {
            display: none;
        }




    
}
