.navBar{
    background-color: #454444;
    position: sticky;
    z-index: 999;
    bottom: 0%;
    top: 0%;

    display: flex;
    justify-content: space-around;
    align-items: center;
   
}

.logo {
    font-family: 'Playfair Display SC', serif;
    font-size: xx-large;
    color: white;
    margin-inline: 2px;
    text-decoration: none;
}

.nav-links {
    margin-inline: 2px;
    flex-wrap: wrap;
    font-family: "Fira Sans Condensed", sans-serif ;
    font-size: large;
    list-style: none;
    
}



.nav-links > .navLink {
    padding-inline: .45rem;
    text-decoration: none;
    color: #F2F2F2;
}

.logo:hover {
    color:rgb(203, 103, 103);
}
.navLink:hover {
    color: rgb(203, 103, 103);
} 

.nav-links .navLink.active {
    color: rgb(203, 103, 103);
}
