.navBar{
    background-color: #454444;
    position: sticky;
    z-index: 999;
    bottom: 0%;
    top: 0%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.openbtn{
width: 1rem;
}
.logo {
    font-family: 'Playfair Display', serif;
    font-size: xx-large;
    color: white;
    margin-inline: 2px;
    text-decoration: none;
}
.mobile-nav-links{
    display: none;
}
.nav-links {
    margin-inline: 2px;
    flex-wrap: wrap;
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: large;
    list-style: none;    
}

.nav-links > .navLink {
    padding-inline: .45rem;
    text-decoration: none;
    color: #F2F2F2;
}

.logo:hover {
    color:rgb(203, 103, 103);
}
.navLink:hover {
    color: rgb(203, 103, 103);
} 

.nav-links .navLink.active {
    color: rgb(203, 103, 103);
}

@media only screen and (max-width: 780px) { 
    .navBar{
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 475px) { 
    .nav-links{
        display: none;
    }
    .navBar{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        background-color: #262626;
        border-bottom: solid 1px white;
        padding-inline: 1rem;
    }
    .logo{
        grid-column: 3/12;
    }
    .mobile-nav-links {
        display: contents;
        display: flex;
        flex-direction: column;
        gap: 1em;
        height: 100vh; /* Specify a height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0;
        left: 0;
        background-color: #111; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
    }
    .navLink {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .closebtn {
        position: absolute;
        top: 0;
        right: 0px;
        font-size: 36px;
        
        background-color: red;
        width: 2rem;
        text-align: center;
        
      }

    .openbtn {
        grid-column: 1/2;
        width: 100%;
        cursor: pointer;

      }
}