.search-wrapper {
    grid-column: 1/13; 
    display: grid;
    grid-template-columns: repeat(12,1fr);
}
.search-wrapper > hr {
    width: 100%;
    grid-column: 4/10;
}

.hero-search-wrapper{
    grid-column: 3/11;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: .5rem;
}

.search-container {
    height: 2.5rem;
    grid-column: 3/11;
    background-color: #D2D2D2;
    /* border-radius: 10px 10px 0px 0px ; */
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.search-icon {
    padding-left: 1rem;
    padding-right: .5rem;
}

.search-section-title {
    color: #808080;
    width: fit-content;
    margin-right: 1%;
    font-family: 'Fira Sans Condensed', sans-serif;
}
.search-section-title-mobile{
    display: none;
}
.searchBar{
    background-color: #D2D2D2;
    border: none;
    display: flex;
    padding-right: 1rem;
    margin-top: 1.5px;
    width: 100%;
   
}
.search-result {
    grid-column: 3/11;
    background-color: #D2D2D2;
    margin: 0%;
    padding: 1rem;
    font-family: 'Fira Sans Condensed', sans-serif;
}

.search-result:hover{
    color: #F2F2F2;
    background-color: #454444;
}

.search-result-link {
    text-decoration: none;
}

.search-result-link:visited{
    color: inherit;
}
.search-result:last-child {
    margin-bottom: .5rem;
}


input:focus {
    outline: none;
    color: #454444;
}
::placeholder {
    color: #454444; 
}

.tab-hero-section{
    grid-column: 4/10; 
    width: 100%;
}



@media only screen and (max-width: 960px) {
    .search-container{
        grid-column: 2/12 
    }
    .hero-search-wrapper {
        grid-column: 2/12;
    }
    .search-result {
        grid-column: 2/12;
    }
   
}

@media only screen and (max-width: 475px) { 
    /* hidden */
    .tab-hero-section {
        display: none;
    }
    .search-section-title {
        display: none;
    }
    .hero-search-wrapper{
        display: none;
    }
   
    
    .search-section-title-mobile {
        grid-column: 1/13;
        display: flex;
        justify-content: center;
    }
    .section-title-mobile {
        text-transform: capitalize;
        font-family: 'Fira Sans Condensed', sans-serif;
        font-weight: 400;
        font-size: 1.5rem;
        padding-bottom: 5%;
        margin: 0%;
        color: #D2D2D2;
    }
    .search-wrapper {
        grid-column: 1/13;
    }
    .search-container {
        grid-column: 1/13;
        height: 2.5rem;
    }

    .search-wrapper > hr {
        width: 100%;
        grid-column: 3/11;
    }
    

    
    .searchBar {
        width: 85%;
        padding: 0%;
    }
    .search-result{
        grid-column: 1/13;
        height: .5rem;
    }
    .search-result:nth-child(even) {
        background-color: #d9d9d967 ;
    }

    
}
