.search-wrapper {
    grid-column: 4/10; 
}
.search-container {
    height: 2.5rem;
    width: 100%;
    background-color: #D2D2D2;
    border-radius: 5px 5px 0px 0px ;
    overflow: hidden;
    flex-direction: row;
    display: flex;
    align-items: center;
}

.search-icon {
    padding-left: 1rem;
    padding-right: .5rem;
}

.search-section-title {
    color: #808080;
    width: fit-content;
    margin-right: 1%;
    font-family: 'Fira Sans Condensed', sans-serif;
}
.searchBar{
    background-color: #D2D2D2;
    border: none;
    display: flex;
    padding-right: 1rem;
    margin-top: 1.5px;
    width: 100%;
}
.search-result {
    background-color: #D2D2D2;
    margin: 0%;
    padding: 1rem;
    font-family: 'Fira Sans Condensed', sans-serif;
}

.search-result:hover{
    color: #F2F2F2;
    background-color: #454444;
}


input:focus {
    outline: none;
    color: #454444;
}
::placeholder {
    color: #454444; 
}