body {
    margin: 0%;
}

body::-webkit-scrollbar {
    width: .5em;
}
body::-webkit-scrollbar-thumb {
    
    background-color: #454444;
}

/* Nav (nav the higher)with two phases logo and centered nav */
.navBar{
    background-color: #454444;
    position: sticky;
    z-index: 999;
    bottom: 0%;
    top: 0%;
}

.logo {
    font-family: 'Playfair Display', serif;
    font-size: xx-large;
    color: white;
    padding-inline: 3rem;
}

.logo:hover {
    text-decoration: underline;
}

.centered-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    height: inherit;
    flex-wrap: wrap;
}

.navList-left,
.navList-right {
    font-family: 'Fira Sans Condensed', sans-serif;
    color: white;
    font-size: large;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 1em;
    padding: 0%;
}

.centered-nav, .navList-left> li:hover {
    color: rgb(203, 103, 103);
}
.centered-nav, .navList-right> li:hover {
    color: rgb(203, 103, 103);
}

/* Hero container */
.hero-container {
    display: flex;
    flex-direction: column;
    position: static;
    height: 100%;
}
.background-hero {
    background-image: url(../src/content/images/heroBackground.jpg);
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-repeat: none;
    background-position:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    font-family: 'Fira Sans Condensed', sans-serif;
    
}
.background-hero-content{
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(8px);
    width: 100%;
    border-radius: 10px ;
    text-align: center;
}

/* Main */

main {
    padding: 1rem ;
    display: grid;
    grid-template-columns: repeat(12,9.42rem);
    grid-auto-flow: row;
    justify-content: center;
    background-color: rgb(248,248,255); 
}

.main-active {
    padding: 1rem ;
    display: grid;
    grid-template-columns: repeat(12,9.42rem);
    grid-auto-flow: row;
    justify-content: center;
    background-color: #262626;
}

.section-title{
    grid-column: 1/4;
    margin-inline: 10px;
    font-family: 'Fira Sans Condensed', sans-serif;
    position: relative;
}
.section-title:after{
    content: '';
    color:rgb(203, 103, 103);
    width: 15%;
    position: absolute;
    left: 0;
    bottom: -10px;
    border-width: 0 0 2px;
    border-style: solid;
}
/*Dark Mode switch*/

.switch-container{
    grid-column: 8/9;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    align-self: center;
}
.switch-box {
    padding-inline: .5rem;
}
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: lightgrey;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 5px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: lightgrey;
}

input:focus + .slider {
    box-shadow: 0 0 1px  lightgrey;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.lightModeSwitch{
    width: 2.5rem;
}
.darkModeSwitch {
    width: 2rem;
}
/* Rounded sliders */
.slider.round {
    border-radius: 12px;
}
.slider.round:before {
    border-radius: 50%;
}


/*Effectign all card internals*/

.card-article {
    padding: 0%;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    height: inherit;
    box-shadow:  0px 5px 10px -5px grey;
}

.side-card-article {
    height: inherit;
    width: inherit;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.side-card-article #dark  {
    background-color: #65626277;
}
.card-image {
    height: auto;
    border-radius: 0px 0px 0px 0px;
}
.image-container > img {
    width: 30rem;
}

.card-date {
    border-radius: 5px;
    padding: 5px;
    margin: 20px;
    font-size: 1rem;
    overflow: hidden;
    position: absolute;
    width: fit-content;
}

.card-description{
    padding-inline: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-title {
    text-align: center;
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    font-weight: 100;
}

.card-author {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 100;
}

.card-summary {
    font-family: 'Fira Sans Condensed', sans-serif;
    color: grey;
    margin-bottom: 0%;
    font-size: 1.40rem;
}



/* hero news 2 cards*/
.news-section {
    grid-column: 3/11;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    gap: 1em;
}

.news-banner,
.editor-choice {
    border-radius: 10px;
   
    background-color: white;
    overflow: hidden;
    height: 25rem;
}

.editor-choice {
    grid-column: 1/9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-banner{
    grid-column: 1/9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-banner-content, .editor-choice-content {
    padding: 1rem;
    font-size: 2.5rem;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 100;
    text-align: center;
    
}


/*Tech card stack of 3 with slider*/
.technology-section{
    grid-column: 3/11;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 1em
}

.tec-card-one, 
.tec-card-two, 
.tec-card-three{
    
    border-radius: 10px;
    height: 45rem;
    grid-column: 1/5;
    overflow: hidden;
}
.tec-card-two{
    grid-column: 5/9;
}
.tec-card-three{   
    grid-column: 9/13;
}
 

/* Social media Set Up page section */
.set-up-section{
    grid-column: 3/11;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    gap: 1em
}
.set-slide-one, 
.set-slide-two {
    grid-column: 1/5;
    overflow: hidden;
}
.set-slide-two{
    grid-column: 5/9;
}

.setUp-slider{
    height: 80vh;
}
.arrowLeft-box{
    grid-column: 4/5;
    grid-row: 3/4;
    display: flex;
    flex-direction: row-reverse;
    height: 55%;
}
.arrowRight-box{
    grid-column: 5/6;
    grid-row: 3/4;
    display: flex;
    flex-direction: row;
    height: 55%;
}
.arrowLeft {
    transform: rotate(-0.5turn);
}


/* 
 fade in and fade out system was removed
.setUp-slider{
    width: 33rem;
    animation: fadeIn 8s infinite;
    -webkit-animation: fadeIn 8s infinite;
    -moz-animation: fadeIn 8s infinite;
    -o-animation: fadeIn 8s infinite;
    -ms-animation: fadeIn 8s infinite;
}

@keyframes fadeIn {
    100% {opacity:1;}
    0% {opacity:0;}
}

@-moz-keyframes fadeIn {
    100% {opacity:1;}
    0% {opacity:0;}
}

@-webkit-keyframes fadeIn {
    100% {opacity:1;}
    0% {opacity:0;}
}

@-o-keyframes fadeIn {
    100% {opacity:1;}
    0% {opacity:0;}
}

@-ms-keyframes fadeIn {
    100% {opacity:1;}
    0% {opacity:0;}
} */

/*Hobby card section of 3*/

.hobby-section{
    grid-column: 3/11;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 1em
}
.hobby-card-one, 
.hobby-card-two, 
.hobby-card-three {
    
    border-radius: 10px;
    height: 45rem;
    grid-column: 1/5;
    overflow: hidden;
}
.hobby-card-two{
    grid-column: 5/9;
}
.hobby-card-three{
    grid-column: 9/13;
}

/*Food section of 3*/

.food-section {
    grid-column: 3/11;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    gap: 1em
}
.food-card-one, 
.food-card-two, 
.food-card-three{
    
    border-radius: 10px;
    height: 19rem;
    grid-column: 1/9;
    overflow: hidden;
}
.food-card-two{
    grid-column: 1/9;
}
.food-card-three{
    grid-column: 1/9;
}

/* Footer section */

.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background-color: #454444;

}
.footer-icons > ul{
    padding: 0%;
    display: flex;
    flex-direction: row;
}
.icon-list > li{
    width: 2.5rem;
    list-style: none ;
}
.icon-list > li > img {
    width: 2rem;
}
.footer-summary {
    font-size: large;
    font-family: 'Fira Sans Condensed',sans-serif;
    color: azure;
}


/* Dark Mode color values can changes*/

#main-light {
    background-color: #F2F2F2;

}

#main-dark {
    background-color: #262626;;
}

#card-light {
  
    color: black;
    background-color:white;
}

#card-dark {
    color: #F2F2F2;
    background-color:#454444;
    box-shadow: none;
}

#date-light {
    color: black;
    background-color: #F2F2F2;
}
#date-dark {
    color: #F2F2F2;
    background-color: #454444;

}
#section-title-light{
    color: #262626;
}

#section-title-dark{
    color: #F2F2F2;
}

@media only screen and (max-width: 1680px) {
    main {
        display: grid;
        grid-template-columns: repeat(12, 7.5rem);
        gap: 1em;
    }

    .card-article {
        display: flex;
        flex-direction: column;
    }
}