body {
    background-color: rgb(248,248,255); 
    margin: 0%;
}
body::-webkit-scrollbar {
    width: .5em;
}
body::-webkit-scrollbar-thumb {
    background-color: #262626;
}

/* Nav (nav the higher)with two phases logo and centered nav */
.navBar{
    align-self: center;
    background-color: #262626;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    position: sticky;
    z-index: 999;
    bottom: 0%;
    top: 0%;
}

.logo {
    font-family: 'Playfair Display', serif;
    font-size: xx-large;
    color: aliceblue;
    position: absolute;
}

.logo:hover {
    text-decoration: underline;
}

nav {
    height: 3rem;
    background-color: #262626;
}

.centered-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    height: inherit;
    flex-wrap: wrap;
}

.navList-left,
.navList-right {
    font-family: 'Fira Sans Condensed', sans-serif;
    color: aliceblue;
    font-size: large;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 1em;
    padding-inline: 8.5rem;
    margin-top: 1.1rem;
}
.navList-left{
    width: 213px;
}

.centered-nav, .navList-left> li:hover {
    color: rgb(203, 103, 103);
}
.centered-nav, .navList-right> li:hover {
    color: rgb(203, 103, 103);
}

/* Hero container */
.hero-container {
    display: flex;
    flex-direction: column;
    position: static;
    height: 100%;
    margin-bottom: 1rem;
}

.background-hero {
    background-image: url(./components/images/heroBackground.jpg);
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-repeat: none;
    background-position:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    font-family: 'Fira Sans Condensed', sans-serif;
    
}
.background-hero-content{
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(8px);
    width: 100%;
    border-radius: 10px ;
    text-align: center;
}

/* Main */

main {
    margin: 1rem ;
    display: grid;
    grid-template-columns: repeat(12,9.42rem);
    grid-auto-flow: row;
    justify-content: center;
    gap: 1em;
}

.section-title{
    grid-column: 1/3;
    margin-inline: 10px;
    font-family: 'Fira Sans Condensed', sans-serif;
    color: #262626;
    position: relative;
}
.section-title:after{
    content: '';
    color:rgb(203, 103, 103);
    width: 15%;
    position: absolute;
    left: 0;
    bottom: -10px;
    border-width: 0 0 2px;
    border-style: solid;
}

/*Effectign all card internals*/

.card-article {
    padding: 0%;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.side-card-article {
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card-image {
    height: auto;
    border-radius: 10px 10px 0px 0px;
}

.image-container > img {
    width: 30rem;
    border-radius: 0px 10px 0px 10px;
}

.card-date {
    border-radius: 5px;
    padding: 5px;
    margin: 20px;
    font-size: 1rem;
    background-color:white;
    overflow: hidden;
    position: absolute;
    width: fit-content;
    color: black;
}

.card-description{
    padding-inline: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-title {
    text-align: center;
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    font-weight: 100;
}

.card-author {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 100;
}

.card-summary {
    font-family: 'Fira Sans Condensed', sans-serif;
    color: grey;
    margin-bottom: 0%;
    font-size: 1.40rem;
}

/* hero news 2 cards*/
.news-section {
    grid-column: 3/11;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    gap: 1em;
}

.news-banner,
.editor-choice {
    border-radius: 10px;
    box-shadow:  0px 5px 10px -5px grey;
    background-color: white;
    overflow: hidden;
    height: 25rem;
}

.editor-choice {
    grid-column: 1/9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-banner{
    grid-column: 1/9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-banner-content, .editor-choice-content {
    padding: 1rem;
    font-size: 2.5rem;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 100;
    text-align: center;
    
}


/*Tech card stack of 3 with slider*/
.technology-section{
    grid-column: 3/11;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 1em
}

.tec-card-one, 
.tec-card-two, 
.tec-card-three, 
.tec-slide{
    box-shadow:  0px 5px 8px -5px grey;
    border-radius: 10px;
    height: 45rem;
    grid-column: 1/5;
    background-color: white;
    overflow: hidden;
}
.tec-card-two{
    grid-column: 5/9;
}
.tec-card-three{   
    grid-column: 9/13;
}
.tec-slide{
    grid-column: 1/13;
}

/* Social media Set Up page section */
.set-up-section{
    grid-column: 3/11;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    gap: 1em
}
.set-slide-one, 
.set-slide-two {
    box-shadow:  0px 5px 8px -5px grey;
    border-radius: 10px;
    height: 45rem;
    grid-column: 1/5;
    background-color: white;;
    overflow: hidden;
}
.set-slide-two{
    grid-column: 5/9;
}

/*Hobby card section of 3*/

.hobby-section{
    grid-column: 3/11;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 1em
}
.hobby-card-one, 
.hobby-card-two, 
.hobby-card-three {
    box-shadow:  0px 5px 8px -5px grey;
    border-radius: 10px;
    height: 45rem;
    grid-column: 1/5;
    background-color: white
}
.hobby-card-two{
    grid-column: 5/9;
}
.hobby-card-three{
    grid-column: 9/13;
}

/*Food section of 3*/

.food-section {
    grid-column: 3/11;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    gap: 1em
}
.food-card-one, 
.food-card-two, 
.food-card-three{
    box-shadow:  0px 5px 8px -5px grey;
    border-radius: 10px;
    height: 19rem;
    grid-column: 1/9;
    background-color: white;
    overflow: hidden;
}
.food-card-two{
    grid-column: 1/9;
}
.food-card-three{
    grid-column: 1/9;
}

/* Footer section */

.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background-color: #262626;

}
.footer-icons > ul{
    padding: 0%;
    display: flex;
    flex-direction: row;
}
.icon-list > li{
    width: 2.5rem;
    list-style: none ;
}
.icon-list > li > img {
    width: 2rem;
}
.footer-summary {
    font-size: large;
    font-family: 'Fira Sans Condensed',sans-serif;
    color: azure;
}

@media only screen and (max-width: 1680px) {
    main {
        display: grid;
        grid-template-columns: repeat(12, 7.5rem);
        gap: 1em;
    }

    .card-article {
        display: flex;
        flex-direction: column;
    }
}